.qualification {
    min-height: 100vh;
}

.qualification__container {
    max-width: 768px;
    display: flex;
    position: relative;
}

.qualification__tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    
}
.qualification__button {
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    color: var(--title-color-dark);
    padding: var(--mb-1) var(--mb-0-5);
    cursor: pointer;
    transition: all .3s;
    min-width: 100%;
    border-left: 1px solid var(--text-color);
    letter-spacing: 0.05rem;
    
    
}
.qualification__button:hover {
    background-color: var(--container-color);
    color: var(--hover-color);
}

.qualification__icon {
    font-size: .5rem;
    margin-right: var(--mb-0-75);
    color: var(--hover-color);
}
.qualification__active {
    color: var(--hover-color);
    background-color: var(--container-color);
    border-left: 1px solid var(--hover-color);
    
}
.qualification__sections {
    

}
.qualification__content {
    display: none;

}
.qualification__content-active {
    display: block;
}
.qualification__data {
    display: flex;
    flex-direction: column;
    margin: 0 var(--mb-1-5);
    gap: .2rem;
    max-width: 450px;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    
    font-size: var(--small-font-size);
    
}
.qualification__details > p:not(last-child) {
    margin-bottom: 1rem;
}
.qualification__calender {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-5);
    display: inline-block;
}
.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--hover-color);
    border-radius: 50%;
    z-index: 100;
}
.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    transform: translate(6px, -7px);
    background-color: var(--text-color) ;
}


@media screen and (max-width: 992px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
 
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
 
}

@media screen and (max-width: 576px) {
    /* .qualification__sections {
        grid-template-columns: initial;
    } */
    .qualification__button {
        /* margin: 0 var(--mb-0-75); */
        display: inline-block;
    }
    .qualification__tabs {
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        /* height: auto; */
        /* border: none; */
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    
}

/* For small devices */
@media screen and (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }

}
